<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Featured Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add your CSS links here -->
</head>
<body>
    <div class="nav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('featuredCars') }}">Featured Cars</a>
        <a href="{{ url_for('search') }}">Search vehicles</a>
        <p>Find Your Dream Car Today</p>
    </div>



    <header>
        <h1>Featured Cars</h1>
    </header>




    <main>
        <section id="featured-cars-list">
            <button id="previous">Previous</button>
            <button id="next">Next</button>
            <!-- Featured cars will be listed here -->
        </section>


        <section id="car-details">
            <!-- Car details will be displayed here when a car is selected -->
        </section>
    </main>


    <div class="footer">
        <p>&copy; 2023 RJ Cars. All rights reserved.</p>

    </div>
</body>
</html>